 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1800px;
	 height: 6752px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1802px;
	 height: 7186px;
	 z-index:1;
} 

 #Line 
{ 
	 left: 899px; 
	 top: 998px; 
	 position: absolute; 
	 width: 3px;
	 height: 5755px;
	 z-index:2;
} 

 #Line_0 
{ 
	 left: 598px; 
	 top: 998px; 
	 position: absolute; 
	 width: 4px;
	 height: 5755px;
	 z-index:3;
} 

 #Line_1 
{ 
	 left: 298px; 
	 top: 998px; 
	 position: absolute; 
	 width: 4px;
	 height: 5755px;
	 z-index:4;
} 

 #Line_2 
{ 
	 left: 1198px; 
	 top: 998px; 
	 position: absolute; 
	 width: 4px;
	 height: 5755px;
	 z-index:5;
} 

 #Line_3 
{ 
	 left: 1498px; 
	 top: 998px; 
	 position: absolute; 
	 width: 4px;
	 height: 5755px;
	 z-index:6;
} 

 #Background_0 
{ 
	 left: -1px; 
	 top: 6370px; 
	 position: absolute; 
	 width: 1802px;
	 height: 383px;
	 z-index:7;
} 

 #UnsplashIamge 
{ 
	 left: 0px; 
	 top: 5497px; 
	 position: absolute; 
	 width: 1800px;
	 height: 1255px;
	 z-index:8;
} 

 #RobertMayer2016 
{ 
	 left: 826px; 
	 top: 6598px; 
	 position: absolute; 
	 width: 149px;
	 height: 18px;
	 z-index:9;
} 

 #Polygon1 
{ 
	 left: 896px; 
	 top: 6530px; 
	 position: absolute; 
	 width: 47px;
	 height: 42px;
	 z-index:10;
} 

 #Polygon1copy 
{ 
	 left: 857px; 
	 top: 6530px; 
	 position: absolute; 
	 width: 47px;
	 height: 42px;
	 z-index:11;
} 

 #Shape10 
{ 
	 left: 877px; 
	 top: 6530px; 
	 position: absolute; 
	 width: 24px;
	 height: 41px;
	 z-index:12;
} 

 #Shape10copy 
{ 
	 left: 899px; 
	 top: 6530px; 
	 position: absolute; 
	 width: 24px;
	 height: 41px;
	 z-index:13;
} 

 #Getintouch 
{ 
	 left: 317px; 
	 top: 5888px; 
	 position: absolute; 
	 width: 310px;
	 height: 44px;
	 z-index:14;
} 

 #layer_04 
{ 
	 left: 316px; 
	 top: 5784px; 
	 position: absolute; 
	 width: 92px;
	 height: 58px;
	 z-index:15;
} 

 #Contactmewithanyques 
{ 
	 left: 316px; 
	 top: 5985px; 
	 position: absolute; 
	 width: 359px;
	 height: 46px;
	 z-index:16;
} 

 #HorizontalLine 
{ 
	 left: -32px; 
	 top: 5810px; 
	 position: absolute; 
	 width: 333px;
	 height: 6px;
	 z-index:17;
} 

 #VerticalLine 
{ 
	 left: 423px; 
	 top: 5774px; 
	 position: absolute; 
	 width: 32px;
	 height: 78px;
	 z-index:18;
} 

 #Button 
{ 
	 left: 313px; 
	 top: 6061px; 
	 position: absolute; 
	 width: 274px;
	 height: 64px;
	 z-index:19;
} 

 #Hoveranimation 
{ 
	 left: 203px; 
	 top: 5968px; 
	 position: absolute; 
	 width: 173px;
	 height: 173px;
	 z-index:20;
} 

 #DownloadResume 
{ 
	 left: 369px; 
	 top: 6089px; 
	 position: absolute; 
	 width: 166px;
	 height: 10px;
	 z-index:21;
} 

 #UpdatedMay2016 
{ 
	 left: 382px; 
	 top: 6137px; 
	 position: absolute; 
	 width: 128px;
	 height: 16px;
	 z-index:22;
} 

 #Email 
{ 
	 left: 816px; 
	 top: 5902px; 
	 position: absolute; 
	 width: 56px;
	 height: 11px;
	 z-index:23;
} 

 #himayerrcom 
{ 
	 left: 815px; 
	 top: 5932px; 
	 position: absolute; 
	 width: 163px;
	 height: 22px;
	 z-index:24;
} 

 #Social 
{ 
	 left: 815px; 
	 top: 6002px; 
	 position: absolute; 
	 width: 59px;
	 height: 11px;
	 z-index:25;
} 

 #TwitterHover 
{ 
	 left: 943px; 
	 top: 6031px; 
	 position: absolute; 
	 width: 29px;
	 height: 22px;
	 z-index:26;
} 

 #Dribbble 
{ 
	 left: 901px; 
	 top: 6030px; 
	 position: absolute; 
	 width: 27px;
	 height: 24px;
	 z-index:27;
} 

 #LinkedIn 
{ 
	 left: 861px; 
	 top: 6028px; 
	 position: absolute; 
	 width: 23px;
	 height: 24px;
	 z-index:28;
} 

 #Behance 
{ 
	 left: 812px; 
	 top: 6031px; 
	 position: absolute; 
	 width: 32px;
	 height: 20px;
	 z-index:29;
} 

 #Skype 
{ 
	 left: 1115px; 
	 top: 5902px; 
	 position: absolute; 
	 width: 50px;
	 height: 11px;
	 z-index:30;
} 

 #mayerrlive 
{ 
	 left: 1115px; 
	 top: 5932px; 
	 position: absolute; 
	 width: 116px;
	 height: 22px;
	 z-index:31;
} 

 #Tel 
{ 
	 left: 1115px; 
	 top: 6002px; 
	 position: absolute; 
	 width: 27px;
	 height: 11px;
	 z-index:32;
} 

 #layer_12025550102 
{ 
	 left: 1115px; 
	 top: 6032px; 
	 position: absolute; 
	 width: 177px;
	 height: 18px;
	 z-index:33;
} 

 #Background_1 
{ 
	 left: 413px; 
	 top: 4992px; 
	 position: absolute; 
	 width: 973px;
	 height: 623px;
	 z-index:34;
} 

 #UnsplashImage 
{ 
	 left: 0px; 
	 top: 3005px; 
	 position: absolute; 
	 width: 1800px;
	 height: 3000px;
	 z-index:35;
} 

 #Drivenbypassionandex 
{ 
	 left: 355px; 
	 top: 5380px; 
	 position: absolute; 
	 width: 1090px;
	 height: 72px;
	 z-index:36;
} 

 #Background_2 
{ 
	 left: -24px; 
	 top: 2746px; 
	 position: absolute; 
	 width: 1911px;
	 height: 2252px;
	 z-index:37;
} 

 #Background_3 
{ 
	 left: -6px; 
	 top: 3097px; 
	 position: absolute; 
	 width: 1807px;
	 height: 1645px;
	 z-index:38;
} 

 #UnsplashImage_0 
{ 
	 left: 0px; 
	 top: 3090px; 
	 position: absolute; 
	 width: 1800px;
	 height: 1827px;
	 z-index:39;
} 

 #Line_4 
{ 
	 left: 899px; 
	 top: 2753px; 
	 position: absolute; 
	 width: 3px;
	 height: 2245px;
	 z-index:40;
} 

 #Line_5 
{ 
	 left: 598px; 
	 top: 2753px; 
	 position: absolute; 
	 width: 4px;
	 height: 2245px;
	 z-index:41;
} 

 #Line_6 
{ 
	 left: 298px; 
	 top: 2753px; 
	 position: absolute; 
	 width: 4px;
	 height: 2245px;
	 z-index:42;
} 

 #Line_7 
{ 
	 left: 1198px; 
	 top: 2753px; 
	 position: absolute; 
	 width: 4px;
	 height: 2245px;
	 z-index:43;
} 

 #Line_8 
{ 
	 left: 1498px; 
	 top: 2753px; 
	 position: absolute; 
	 width: 4px;
	 height: 2245px;
	 z-index:44;
} 

 #Line_9 
{ 
	 left: 676px; 
	 top: 3070px; 
	 position: absolute; 
	 width: 582px;
	 height: 5px;
	 z-index:45;
} 

 #Designmeansbeinggood 
{ 
	 left: 564px; 
	 top: 2985px; 
	 position: absolute; 
	 width: 677px;
	 height: 112px;
	 z-index:46;
} 

 #layer_03 
{ 
	 left: 855px; 
	 top: 2847px; 
	 position: absolute; 
	 width: 92px;
	 height: 58px;
	 z-index:47;
} 

 #Line_10 
{ 
	 left: 863px; 
	 top: 2939px; 
	 position: absolute; 
	 width: 73px;
	 height: 6px;
	 z-index:48;
} 

 #Base 
{ 
	 left: 313px; 
	 top: 3691px; 
	 position: absolute; 
	 width: 473px;
	 height: 430px;
	 z-index:49;
} 

 #Image 
{ 
	 left: 180px; 
	 top: 3626px; 
	 position: absolute; 
	 width: 743px;
	 height: 495px;
	 z-index:50;
} 

 #Base_0 
{ 
	 left: 813px; 
	 top: 3691px; 
	 position: absolute; 
	 width: 673px;
	 height: 430px;
	 z-index:51;
} 

 #Image_0 
{ 
	 left: 810px; 
	 top: 3677px; 
	 position: absolute; 
	 width: 691px;
	 height: 457px;
	 z-index:52;
} 

 #Base_1 
{ 
	 left: 1013px; 
	 top: 4605px; 
	 position: absolute; 
	 width: 473px;
	 height: 430px;
	 z-index:53;
} 

 #Image_1 
{ 
	 left: 919px; 
	 top: 4600px; 
	 position: absolute; 
	 width: 662px;
	 height: 441px;
	 z-index:54;
} 

 #Base_2 
{ 
	 left: 313px; 
	 top: 4605px; 
	 position: absolute; 
	 width: 673px;
	 height: 430px;
	 z-index:55;
} 

 #Image_2 
{ 
	 left: 280px; 
	 top: 4527px; 
	 position: absolute; 
	 width: 773px;
	 height: 515px;
	 z-index:56;
} 

 #Base_3 
{ 
	 left: 313px; 
	 top: 3234px; 
	 position: absolute; 
	 width: 573px;
	 height: 430px;
	 z-index:57;
} 

 #Image_3 
{ 
	 left: 269px; 
	 top: 3235px; 
	 position: absolute; 
	 width: 643px;
	 height: 429px;
	 z-index:58;
} 

 #Base_4 
{ 
	 left: 913px; 
	 top: 3234px; 
	 position: absolute; 
	 width: 573px;
	 height: 430px;
	 z-index:59;
} 

 #Image_4 
{ 
	 left: 810px; 
	 top: 3209px; 
	 position: absolute; 
	 width: 688px;
	 height: 458px;
	 z-index:60;
} 

 #Base_5 
{ 
	 left: 313px; 
	 top: 4148px; 
	 position: absolute; 
	 width: 573px;
	 height: 430px;
	 z-index:61;
} 

 #Image_5 
{ 
	 left: 210px; 
	 top: 4125px; 
	 position: absolute; 
	 width: 679px;
	 height: 453px;
	 z-index:62;
} 

 #Base_6 
{ 
	 left: 913px; 
	 top: 4143px; 
	 position: absolute; 
	 width: 573px;
	 height: 430px;
	 z-index:63;
} 

 #Image_6 
{ 
	 left: 847px; 
	 top: 4143px; 
	 position: absolute; 
	 width: 704px;
	 height: 461px;
	 z-index:64;
} 

 #Hover 
{ 
	 left: 910px; 
	 top: 4140px; 
	 position: absolute; 
	 width: 578px;
	 height: 436px;
	 z-index:65;
} 

 #TheHigherGrounds 
{ 
	 left: 1047px; 
	 top: 4343px; 
	 position: absolute; 
	 width: 305px;
	 height: 32px;
	 z-index:66;
} 

 #BrandingLogo 
{ 
	 left: 1122px; 
	 top: 4388px; 
	 position: absolute; 
	 width: 157px;
	 height: 16px;
	 z-index:67;
} 

 #Background_4 
{ 
	 left: -1px; 
	 top: 998px; 
	 position: absolute; 
	 width: 1807px;
	 height: 1645px;
	 z-index:68;
} 

 #UnsplashImage_1 
{ 
	 left: 0px; 
	 top: 979px; 
	 position: absolute; 
	 width: 1800px;
	 height: 1670px;
	 z-index:69;
} 

 #Rectangle1 
{ 
	 left: 1013px; 
	 top: 1819px; 
	 position: absolute; 
	 width: 144px;
	 height: 928px;
	 z-index:70;
} 

 #Base_7 
{ 
	 left: -6px; 
	 top: 1963px; 
	 position: absolute; 
	 width: 792px;
	 height: 538px;
	 z-index:71;
} 

 #UnsplashImage_2 
{ 
	 left: 0px; 
	 top: 1962px; 
	 position: absolute; 
	 width: 807px;
	 height: 542px;
	 z-index:72;
} 

 #CofounderoftheAppleI 
{ 
	 left: 914px; 
	 top: 2154px; 
	 position: absolute; 
	 width: 461px;
	 height: 112px;
	 z-index:73;
} 

 #layer_02 
{ 
	 left: 1388px; 
	 top: 2050px; 
	 position: absolute; 
	 width: 91px;
	 height: 58px;
	 z-index:74;
} 

 #TheclothingofbothMrF 
{ 
	 left: 916px; 
	 top: 2309px; 
	 position: absolute; 
	 width: 559px;
	 height: 99px;
	 z-index:75;
} 

 #HorizontalLine_0 
{ 
	 left: 1499px; 
	 top: 2076px; 
	 position: absolute; 
	 width: 334px;
	 height: 6px;
	 z-index:76;
} 

 #VerticalLine_0 
{ 
	 left: 1337px; 
	 top: 2037px; 
	 position: absolute; 
	 width: 32px;
	 height: 78px;
	 z-index:77;
} 

 #Base_8 
{ 
	 left: 1013px; 
	 top: 1141px; 
	 position: absolute; 
	 width: 793px;
	 height: 538px;
	 z-index:78;
} 

 #UnsplashImage_3 
{ 
	 left: 997px; 
	 top: 1112px; 
	 position: absolute; 
	 width: 803px;
	 height: 565px;
	 z-index:79;
} 

 #Designconsultantwebs 
{ 
	 left: 316px; 
	 top: 1332px; 
	 position: absolute; 
	 width: 466px;
	 height: 112px;
	 z-index:80;
} 

 #layer_01 
{ 
	 left: 316px; 
	 top: 1228px; 
	 position: absolute; 
	 width: 80px;
	 height: 58px;
	 z-index:81;
} 

 #ThePacificRailroadis 
{ 
	 left: 315px; 
	 top: 1487px; 
	 position: absolute; 
	 width: 558px;
	 height: 99px;
	 z-index:82;
} 

 #HorizontalLine_1 
{ 
	 left: -32px; 
	 top: 1254px; 
	 position: absolute; 
	 width: 333px;
	 height: 6px;
	 z-index:83;
} 

 #VerticalLine_1 
{ 
	 left: 423px; 
	 top: 1218px; 
	 position: absolute; 
	 width: 32px;
	 height: 78px;
	 z-index:84;
} 

 #Base_9 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1802px;
	 height: 1002px;
	 z-index:85;
} 

 #UnsplashImage_4 
{ 
	 left: -13px; 
	 top: -211px; 
	 position: absolute; 
	 width: 1815px;
	 height: 1210px;
	 z-index:86;
} 

 #Line_11 
{ 
	 left: 899px; 
	 top: -1px; 
	 position: absolute; 
	 width: 3px;
	 height: 1002px;
	 z-index:87;
} 

 #Line_12 
{ 
	 left: 598px; 
	 top: -1px; 
	 position: absolute; 
	 width: 4px;
	 height: 1002px;
	 z-index:88;
} 

 #Line_13 
{ 
	 left: 298px; 
	 top: -1px; 
	 position: absolute; 
	 width: 4px;
	 height: 1002px;
	 z-index:89;
} 

 #Line_14 
{ 
	 left: 1198px; 
	 top: -1px; 
	 position: absolute; 
	 width: 4px;
	 height: 1002px;
	 z-index:90;
} 

 #Line_15 
{ 
	 left: 1498px; 
	 top: -1px; 
	 position: absolute; 
	 width: 4px;
	 height: 1002px;
	 z-index:91;
} 

 #HIMynameis 
{ 
	 left: 792px; 
	 top: 383px; 
	 position: absolute; 
	 width: 217px;
	 height: 15px;
	 z-index:92;
} 

 #RobertMayer 
{ 
	 left: 646px; 
	 top: 441px; 
	 position: absolute; 
	 width: 510px;
	 height: 74px;
	 z-index:93;
} 

 #I39mafreelancewebdes 
{ 
	 left: 438px; 
	 top: 554px; 
	 position: absolute; 
	 width: 926px;
	 height: 79px;
	 z-index:94;
} 

 #ActiveSection 
{ 
	 left: 1753px; 
	 top: 418px; 
	 position: absolute; 
	 width: 103px;
	 height: 5px;
	 z-index:95;
} 

 #Section2 
{ 
	 left: 1779px; 
	 top: 433px; 
	 position: absolute; 
	 width: 53px;
	 height: 5px;
	 z-index:96;
} 

 #Section3 
{ 
	 left: 1779px; 
	 top: 448px; 
	 position: absolute; 
	 width: 53px;
	 height: 5px;
	 z-index:97;
} 

 #Section4 
{ 
	 left: 1779px; 
	 top: 463px; 
	 position: absolute; 
	 width: 53px;
	 height: 5px;
	 z-index:98;
} 

 #Section5 
{ 
	 left: 1779px; 
	 top: 478px; 
	 position: absolute; 
	 width: 53px;
	 height: 5px;
	 z-index:99;
} 

 #Body 
{ 
	 left: 889px; 
	 top: 861px; 
	 position: absolute; 
	 width: 22px;
	 height: 40px;
	 z-index:100;
} 

 #Scroll 
{ 
	 left: 896px; 
	 top: 868px; 
	 position: absolute; 
	 width: 7px;
	 height: 7px;
	 z-index:101;
} 

 #Arrows 
{ 
	 left: 887px; 
	 top: 905px; 
	 position: absolute; 
	 width: 25px;
	 height: 25px;
	 z-index:102;
} 

 #Polygon1_0 
{ 
	 left: 896px; 
	 top: 69px; 
	 position: absolute; 
	 width: 47px;
	 height: 42px;
	 z-index:103;
} 

 #Polygon1copy_0 
{ 
	 left: 857px; 
	 top: 69px; 
	 position: absolute; 
	 width: 47px;
	 height: 42px;
	 z-index:104;
} 

 #Shape10_0 
{ 
	 left: 877px; 
	 top: 69px; 
	 position: absolute; 
	 width: 24px;
	 height: 41px;
	 z-index:105;
} 

 #Shape10copy_0 
{ 
	 left: 899px; 
	 top: 69px; 
	 position: absolute; 
	 width: 24px;
	 height: 41px;
	 z-index:106;
} 

 #BootstrapGrid 
{ 
	 left: 315px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1170px;
	 height: 6752px;
	 z-index:107;
} 
