/*
Theme Name: minimo
Theme URI: https://bograph/themes/twentyseventeen/
Author: debucla
Author URI: debucla.com
Description: cartera grafica
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: minimo
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

h1 {
    text-align: center;
    color: #333; }


h1 {
    color: rgba(255, 255, 255, 0.8); }

.banner {
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 0 5px 5px -5px #000;
    background: #3F8CD9;
    position: relative; }
.banner:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("http://wp.docker.localhost:8000/wp-content/themes/minimo/images/background.jpg") center/cover;
    opacity: 0.3; }
.banner__title, .banner__subtitle {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative; }
.banner__title {
    font-size: 4em;
    font-family: Oswald, 'sans-serif';
    font-weight: 300; }
.banner__subtitle {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', 'sans-serif'; }
